@import '@shared/styles/common.scss';
@import '@shared/styles/colors.scss';

.unit-container {
    .demo-content {
        margin-bottom: 70px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding: 20px;
        border-radius: 10px;
        .block {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .values {
                background-color: $light-gray;
                padding: 10px;
                border-radius: 10px;
                width: min-content;
                max-width: 95%;
                .value {
                    p {
                        text-wrap: nowrap;
                    }
                    display: flex;
                    gap: 10px;
                    input {
                        &:focus {
                            outline: 2px solid $accent;
                            border-radius: 3px;
                        }
                        background-color: transparent;
                        border: none;
                    }
                }
            }
            .values-l {
                @extend .values;
                display: flex;
                width: max-content;
            }
        }
    }

    .play {
        width: 30px;
        cursor: pointer;
    }

    [class^="result-"] {
        padding: 15px;
        border-radius: 15px;
        p { max-width: 100%; }
    }

    .result-success {
        background-color: $success;
    }
    .result-error {
        background-color: $error;
    }
}
